<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="usercontainer">
      <div class="picture">
      <img src="{{imageurl}}" class = "userimg">
      </div>
      <div class="userinfo">
        <h3 class = "username">{{username}}</h3>
        {{#address.city}}<span>{{address.city}}, {{address.country}} |</span>{{/address.city}}
        {{^address.city}}{{/address.city}}
        {{#job}}<span> {{job}}, {{company}}</span>{{/job}}
        {{^job}}<span class="nojob">Available for hire</span>{{/job}}
        <p class = "emailphone">{{email}} | {{phone}}</p>
      </div>
      <div class="useredandskills">
        {{#university}}<p class = "userschool"><strong>Education:</strong> {{university}}</p>{{/university}}
        {{^university}}{{/university}}
        <span><strong>Skills:</strong></span>
        <ul style = "list-style: none" class = "skillscol">
          {{#skills}}<li class = "userskills">{{.}}</li>{{/skills}}
        </ul>
      </div>
      <div class="fullwidth">
        {{#id}}
        <button type="button" name="delete" id="delete" data-id="{{id}}" onclick="deleteThis()">Delete</button>
        {{/id}}
      </div>
    </div>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
